:root {
    --color-principal: #6A0DAD;
    --color-principal-oscuro: #5c0bb8; /* una versión ligeramente más oscura */
    --color-secundario: #FF6700;
    --blanco: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-oscuro: #333333;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }

  .App {
    overflow: auto; /* ❌ esto puede romper sticky */
  }
  